link(rel="stylesheet" href="/contentBloc.scss")

mixin contentBlock()
  .contentBlock
    .mainRectangle
      .videoCircle
        img(src="/pics/insideCircle.png" alt="video icon")
      .image
      .description
        .topTextDesc Ubi est regius zirbus? Ubi est regius zirbus?
        .line Share
        .bottomTextDesc Fortis lunas ducunt ad genetrix. Fortis lunas ducunt ad genetrix. Fortis lunas ducunt ad genetrix.
        button(class = "rightBottomButton")
          i(class = "fas fa-arrow-right")