@import 'index.scss';

.mainRectangle {
  display: flex;
  margin-top: 24px;
  margin-left: 47px;
  width: 600px;
  height: 210px;
  background: #FFFFFF;
  margin-bottom: 28px;
}

.image {
  width: 300px;
  height: 100%;
}

.description {
  width: 342px;
  height: 210px;
}

.topTextDesc {
  font-family: Sofia Pro Light;
  padding: 10px 13px 10px 16px;
  font-size: 26px;
  line-height: 30px;
  width: 314px;
  height: 60px;
}

.line {
  margin-left: 18px;
  margin-right: 18px;
  border-bottom: #7e7d7e 2px solid;
  height: 20px;
}

.bottomTextDesc {
  font-family: Sofia Pro Light;
  color: $textColor;
  padding: 15px 13px 10px 18px;
  font-size: 13px;
  line-height: 20px;
  width: 310px;
  height: 60px;
}

.rightBottomButton {
  border: #FFFFFF;
  background: #dedede;
  position: absolute;
  margin-left: 309px;
  margin-top: -9px;
  height: 33px;
  width: 33px;
  border-top-left-radius: 33px;
  color: #FFFFFF;
  text-align: right;
}

.videoCircle {
  margin-left: -29px;
  margin-top: 72px;
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background: #6cb9d4;
  text-align:center;
}

.videoCircle img {
  margin-top: 11px;
}