@import 'index.scss';

.mainRectangle {
  display: flex;
  margin-top: 24px;
  margin-left: 47px;
  width: 600px;
  height: 210px;
  background: #FFFFFF;
  margin-bottom: 50px;
}

.secondRectangle {
  box-shadow:  0 0 5px #514d4d;
  background: #FFFFFF;
  width: 300px;
  height: 410px;
  margin-bottom: 40px;
}

.image {
  width: 300px;
  height: 210px;
}

.descriptionList {
  width: 342px;
  height: 210px;
}

.descriptionGrid {
  width: 342px;
  height: 210px;
}

.topTextDescList {
  font-family: Sofia Pro Light;
  padding: 8px 13px 10px 16px;
  font-size: 26px;
  line-height: 30px;
  width: 314px;
  height: 60px;
}

.topTextDescGrid {
  font-family: Sofia Pro Light;
  padding: 8px 13px 10px 16px;
  font-size: 26px;
  line-height: 30px;
  width: 280px;
}

.lineList {
  margin-top: 5px;
  margin-left: 18px;
  margin-right: 18px;
  padding-top: 5px;
  font-size: 10px;
  color: $textColor;
  border-bottom: #7e7d7e 2px solid;
  height: 20px;
}

.lineGrid {
  margin-top: 5px;
  margin-left: 18px;
  margin-right: 18px;
  padding-top: 5px;
  font-size: 10px;
  width: 300px;
  color: $textColor;
  height: 20px;
}

.lineList i {
  margin-right: 20px;
}

.lineGrid i {
  margin-right: 20px;
}

.bottomTextDescList {
  font-family: Sofia Pro Light;
  color: $textColor;
  padding: 13px 13px 10px 18px;
  font-size: 13px;
  line-height: 20px;
  width: 310px;
  height: 60px;
}

.bottomTextDescGrid {
  font-family: Sofia Pro Light;
  color: $textColor;
  padding: 13px 13px 10px 18px;
  font-size: 13px;
  line-height: 20px;
  width: 280px;
  height: 60px;
}

.rightBottomButtonList {
  border: #FFFFFF;
  background: #dedede;
  height: 33px;
  width: 33px;
  border-top-left-radius: 33px;
  color: #FFFFFF;
  text-align: right;
  float: right;
  margin-top: -15px;
}

.rightBottomButtonGrid {
  display: none;
}

.videoCircle {
  margin-left: -29px;
  margin-top: 72px;
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background: #6cb9d4;
  text-align:center;
}

.videoCircle img {
  margin-top: 11px;
}