link(rel="stylesheet" href="/contentBloc.scss")

mixin contentBlock()
  .contentBlock
    .mainRectangle
      .videoCircle
        img(src="/pics/insideCircle.png" alt="video icon")
      img(src = "/pics/preview.png" class = "image" alt= "Preview")
      .description
        .topTextDesc Ubi est regius zirbus? Ubi est regius zirbus?
        .line Share
        .bottomTextDesc Fortis lunas ducunt ad genetrix. Fortis lunas ducunt ad genetrix. Fortis lunas ducunt ad genetrix.
        button(class = "rightBottomButton")
          i(class = "fas fa-arrow-right")