link(rel="stylesheet" href="/footer.scss")

mixin pageFooter()
  .pageFooter
    footer()
      .textFooter
        .designed The gallaria is designed By Css Author
        .links
          a() Home |
          a()  About Us |
          a()  Contact Us
      .footerButtons