link(rel="stylesheet" href="/footer.scss")

mixin pageFooter()
  .pageFooter
    footer()
      .textFooter
            .leftFooter
              .designed The gallaria is designed By Css Author
              .links
                a() Home |
                a()  About Us |
                a()  Contact Us
            .footerButtons
              i(class = "fab fa-twitter")
              i(class ="fab fa-facebook-f")
              i(class ="fab fa-pinterest")