@import 'index.scss';

footer {
  width: 100%;
  height: 73px;
  background: white;
}

.textFooter {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  margin-top: 11px;
  padding-left: 33px;
  line-height: 20px;
}

.leftFooter {
  margin-top: 20px;
  color: $textColor;
  text-align: left;
}

.footerButtons {
  padding-top: 10px;
  width: 650px;
  color: $textColor;
  text-align: right;
  font-size: 25px;
}
.footerButtons i {
  margin-left: 20px;
  margin-top: 10px;
  background: $textColor;
  border-radius: 50%;
  height: 29px;
  width: 29px;
  text-align: center;
  color: #FFFFFF;
}