include leftblock
include maincolumn
include footer

doctype html

html(lang="en")
  head
    link(rel="stylesheet" href="/index.scss")
    link(href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet")
    meta(charset="UTF-8")
  body
    .padding
      .page
        +leftBlock
        +mainColumn
      +pageFooter