doctype html

html(lang="en")
    head
        link(rel="stylesheet" href="/index.scss")
        meta(charset="UTF-8")
    body
        table
            th(class="padding")
            th(class = "leftBlock")
            th(class="background")
            th(class="padding")