include leftblock
include maincolumn
include footer

doctype html

html(lang="en")
  head
    link(rel="stylesheet" href="/index.scss")
    link(rel="stylesheet", href="../node_modules/@fortawesome/fontawesome-free/css/all.css")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet")
    script
      include contentSwitch.js
    meta(charset="UTF-8")
  body
    .padding
      .page
        +leftBlock
        +mainColumn
      +pageFooter