@import 'index.scss';

.leftBlock {
  padding-top: 15px;
  padding-left: 50px;
  width: 231px;
  height: 1615px;
}

.logoImage {
  margin-left: 17px;
  margin-bottom: 50px;
}

.buttons {
  height: 329px;
}

.buttons li {
  align-items: center;
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  font-family: SegoeUI;
}

.buttons li:hover {
  background: #6db9d5;
}

.buttons a:hover {
  color: white;
}

.buttons a {
  color: #7e7d7e;
  text-decoration: none;
  font-size: 18px;
}

.buttons a:active {
  background: #6db9d5;
  color: white;
}

.about {
  font-family: 'PT Sans', sans-serif;
  font-size: 32px;
  margin-bottom: 18px;
  color: #959595;
}

.aboutText {
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  padding-right: 40px;
  margin-bottom: 45px;
  line-height: 25px;
  color: #959595;
}

.tagsContainer {
  padding-left: 4px;
  padding-bottom: 22px;
  width: 100%;
}

.tagsLogo {
  width: 100%;
  display: flex;
}

.tagsText {
  margin-top: 4px;
  margin-left: 6px;
  font-family: 'PT Sans', sans-serif;
  font-size: 34px;
  color: #959595;
}

.tagsButtons {
}

.tagsButtons button {
  padding: 0;
  font-size: 12px;
  margin-right: 5px;
  margin-bottom: 10px;
  color: #7e7d7e;
}
