link(rel="stylesheet" href="/leftblock.scss")

mixin leftBlock()
  .leftBlock
    img(src="/pics/logo.png" alt="logo" class="logoImage")
    .buttons
      ul
        li
          i(class = "fas fa-home")
          a(href="#")  HOME
        li
          i(class = "fas fa-film")
          a(href="#")  VIDEOS
        li
          i(class = "fas fa-image")
          a(href="#")  IMAGES
        li
          i(class = "fas fa-newspaper")
          a(href="#")  ARTICLES
        li
          i(class = "fas fa-newspaper")
          a(href="#")  FREEBIES
    .about About Us
    .aboutText Gluten de neuter planeta, acquirere mensa! Gluten de neuter planeta, acquirere mensa! Gluten de neuter planeta, acquirere mensa! Gluten de neuter planeta, acquirere mensa!
    .tagsContainer
      .tagsLogo
        img(src="/pics/tags.png" alt="tags")
        .tagsText Tags
    -var n = 0;
    .tagsButtons
      while n < 9
        button Videos
        -n++;