link(rel="stylesheet" href="/maincolumn.scss")

include contentbloc

mixin mainColumn()
  .mainColumn
    .topPadding
    .feed
      .topElements
        .label
          img(src="/pics/videoicon.png" alt="video icon" class = "videoIcon")
          .boldTopText Featured
          .topText Videos
        .shareButtons
          button(class = "shareButtonLeft")
            +social-media-link("fab fa-twitter")
          button(class = "shareButton")
            +social-media-link("fab fa-facebook-f")
          button(class = "shareButton")
            +social-media-link("fab fa-google")
          button(class = "shareButtonRight")
            +social-media-link("fab fa-pinterest")
      video(src = "" controls class = "video" alt = "Your browser does not support the video tag.")
      .shareLabel Audax, castus axonas inciviliter attrahendam de teres, fatalis clinias.
      .changeView
        .changeViewText Change view :
        button(class = "changeViewButtonsLeft")
          +social-media-link("fas fa-align-justify")
        button(class = "changeViewButtonsRight")
          +social-media-link("fas fa-th-large")
      +contentBloc()
      +contentBloc()
      +contentBloc()
      +contentBloc()


mixin social-media-link(logo)
  .social-media-link
    a(href="")
      i(class=`${logo}`)