@import 'index.scss';

.feed {
  //border: 1px solid #800;
  background: #e8e8e8;
  padding-top: 30px;
  padding-left: 23px;
  width: 718px;
  height: 1605px;
}

.topPadding {
  background: #6dbad6;
  width: 100%;
  padding-top: 7px;
}
