link(rel="stylesheet" href="/maincolumn.scss")

mixin mainColumn()
  .mainColumn
    .topPadding
    .feed
      .topElements
        .label
          img(src="/pics/videoicon.png" alt="video icon" class = "videoIcon")
          .boldTopText Featured
          .topText Videos
        .shareButtons
          button(class = "shareButtonLeft")
          button(class = "shareButton")
          button(class = "shareButton")
          button(class = "shareButtonRight")
      video(src = "" controls class = "video" alt = "Your browser does not support the video tag.")
      .shareLabel Audax, castus axonas inciviliter attrahendam de teres, fatalis clinias.
      .changeView
        .changeViewText Change view :
        button(class = "changeViewButtonsLeft")
        button(class = "changeViewButtonsRight")