link(rel="stylesheet" href="/maincolumn.scss")

include contentblock

mixin mainColumn()
  .mainColumn
    .topPadding
    .feed
      .topElements
        .label
          img(src="/pics/videoicon.png" alt="video icon" class = "videoIcon")
          .boldTopText Featured
          .topText Videos
        .shareButtons
          button(class = "shareButtonLeft")
            i(class = "fab fa-twitter")
          button(class = "shareButton")
            i(class ="fab fa-facebook-f")
          button(class = "shareButton")
            i(class ="fab fa-google")
          button(class = "shareButtonRight")
            i(class ="fab fa-pinterest")
      video(src = "" controls class = "video" alt = "Your browser does not support the video tag.")
      .shareLabel
        table
          tr
            th(class = "leftTh")
              p Audax, castus axonas inciviliter attrahendam de teres.
            th(class = "rightTh")
              i(class="fas fa-link")  70
              i(class="fas fa-heart")  150
              i(class="fas fa-share-alt")
      .changeView
        .changeViewText Change view :
        button(class = "changeViewButtonsLeft" onclick = "listView()")
          i(class ="fas fa-align-justify")
        button(class = "changeViewButtonsRight" onclick = "gridView()")
          i(class ="fas fa-th-large")
      +contentBlock()
      +contentBlock()
      +contentBlock()
      +contentBlock()